<div id="page-container">
    <div class="left-column">
        <div id="login-container">
            <h2>Welcome! Book readers delight</h2>
            <button id="btn-login" class="btn btn-primary" (click)="onLogin()">
                Login With Google
            </button>
            <p id="btn-continue"><small routerLink="/search">Continue without login..</small></p>
        </div>
    </div>
    <div class="right-column">
        <img id="img-reader" src="assets/images/login-illustration.svg" />
    </div>
</div>

<div id="disclaimer">
    <p><small>Andrew Evans submission for Nology</small></p>
</div>



